
body{
   
 background-image: url("ombre-blue.avif"); 
    background-color: gray;
    color: rgba(10, 1, 1, 0.959);
    background-size: cover;
    
}

#form input{
    block-size: 20px;
    
}
#form{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    height: auto;
   
    

}
#form #inp{
 background-color: rgb(104, 172, 227);
 block-size: 30px;
  color: black;
  border-radius: 100px;
  font-size: x-large;
  font-family: fantasy;
}

