
body{
   
    background: linear-gradient(to bottom,#0c4c9f,#326591,#010c61);
      height: 100%;
    color: rgba(17, 1, 1, 0.717);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#chek{
    
    background: rgb(19, 85, 161);
    width: 400px;
    height: 100%;
    background-image: url("download.jpg");
    background-size: cover;
    border-radius: 5px;
    box-shadow: 5px 20px 50px #6971ac;
    font-size: large
    
    
}

#form input{
 
    border-radius: 5px;
    background: #1d2c97;
    border: none;
    outline: none;
    height: 40px;
    width: 40%;
    
    
}
#form{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    height: auto;
   
    

}
#form #inp{
 background-color: rgb(104, 172, 227);
 block-size: 30px;
  color: black;
  border-radius: 100px;
  font-size: x-large;
  font-family: fantasy;
  margin-bottom: 20px;
 
}

