
body{
   background-color: darkslategrey;
   width: 100%;
   height: 100%;
}


#box1{
    width: 300px;
    height: 300px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
   background-color: cadetblue;
    position: absolute;
    box-shadow: 5px 10px 15px rgb(77, 96, 96), -5px -10px 15px rgb(76, 102, 102);
    border-radius: 10px;
    top: 20%;
    left: 40%;
    opacity: 0;
    border-radius: 10px;
 }
 #box1 div{
    width: 60px;
    height: 60px;
    border: 2px solid rgb(23, 32, 45);
    border-radius: 50px;
    background-color: rgb(136, 17, 31);
    box-shadow: 5px 5px 10px rgb(22, 44, 49), -5px -5px 10px rgb(21, 37, 51);
 }
 
 #box2{
    width: 300px;
    height: 300px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
   background-color: cadetblue;
   box-shadow: 5px 10px 15px rgb(78, 101, 105), -5px -10px 15px rgb(77, 89, 100);
    border-radius: 10px;
    position: absolute;
    top: 20%;
    left: 40%;
    gap: 10%;
    opacity: 0;
 }
 #box2 div{
    width: 60px;
    height: 60px;
    border: 2px solid rgb(20, 6, 6);
    border-radius: 50px;
    background-color: darkred;
    box-shadow: 5px 5px 10px rgb(28, 54, 59), -5px -5px 10px rgb(26, 43, 58);
 }
 #box2 .green{
   background: green;
 }
 
 #box3{
    width: 300px;
    height: 300px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    box-shadow: 5px 10px 15px rgb(77, 94, 97), -5px -10px 15px rgb(75, 85, 94);
    border-radius: 10px;
   background-color: cadetblue;
    position: absolute;
    top: 20%;
    left: 40%;
    opacity: 0;
 }
 #box3 div{
    width: 60px;
    height: 60px;
    border: 2px solid rgb(26, 12, 12);
    border-radius: 50px;
    background-color: darkred;
    box-shadow: 5px 5px 10px rgb(29, 51, 56), -5px -5px 10px rgb(35, 56, 76);
 }
 #box3 .orange{
   background: rgb(209, 101, 62);
 }
 #box3 .green{
   background: rgb(87, 174, 87);
 }
#box4{
    width: 300px;
    height: 300px;
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: auto,auto,;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 10px 15px rgb(77, 91, 94), -5px -10px 15px rgb(77, 87, 96);
    border-radius: 10px;
    gap: 15%;
    background-color: cadetblue;
    position: absolute;
    top: 20%;
    left: 40%;
    opacity: 0; 
 }
 #box4 div{
    width: 60px;
    height: 60px;
    border: 2px solid rgb(29, 14, 14);
    border-radius: 50px;
    background-color: darkred;
    box-shadow: 5px 5px 10px rgb(36, 62, 67), -5px -5px 10px rgb(45, 63, 78);
 }
 #box4 .orange{
   background: rgb(171, 109, 86);
 }
 #box4 .green{
   background: rgb(87, 174, 87);
 }
 #box4 .blue{
   background: rgb(81, 81, 159);
 }
 
 #box5{
   width: 300px;
   height: 300px;
   /* border: 1px solid black; */
   display: grid;
   grid-template-columns: auto,auto,auto;
   justify-content: center;
   align-items: center;
   box-shadow: 5px 10px 15px rgb(74, 87, 90), -5px -10px 15px rgb(70, 79, 86);
   border-radius: 10px;
   gap: 15%;
   background-color: cadetblue;
   position: absolute;
   top: 20%;
   left: 40%;
   opacity: 0; 
}
#box5 div{
   width: 60px;
   height: 60px;
   border: 2px solid rgb(34, 16, 16);
   border-radius: 50px;
   background-color: darkred;
   box-shadow: 5px 5px 10px rgb(39, 56, 59), -5px -5px 10px rgb(35, 51, 65);
}
#box5 .orange{
   background: rgb(165, 107, 86);
 }
 #box5 .green{
   background: rgb(87, 174, 87);
 }
 #box5 .blue{
   background: rgb(81, 81, 159);
 }
 #box5 .yellow{
   background: rgb(118, 156, 53);
 }
#box6{
   width: 300px;
   height: 300px;
   /* border: 1px solid black; */
   display: grid;
   grid-template-columns: auto,auto,auto;
   justify-content: center;
   align-items: center;
   box-shadow: 5px 10px 15px rgb(78, 94, 97), -5px -10px 15px rgb(78, 89, 99);
   border-radius: 10px;
   gap: 15%;
   background-color: cadetblue;
   position: absolute;
   top: 20%;
   left: 40%;
   opacity: 0; 
}
#box6 div{
   width: 60px;
   height: 60px;
   border: 2px solid rgb(26, 14, 14);
   border-radius: 50px;
   background-color: darkred;
   box-shadow: 5px 5px 10px rgb(30, 45, 49), -5px -5px 10px rgb(35, 47, 57);
}
#box6 .orange{
   background: rgb(185, 101, 70);
 }
 #box6 .green{
   background: rgb(87, 174, 87);
 }
 #box6 .blue{
   background: rgb(81, 81, 159);
 }
 #box6 .yellow{
   background: rgb(141, 150, 44);
 }
 #box6 .pink{
   background: rgb(6, 198, 185);
 }
body button{
   background-color: brown;
   border-radius: 20px;
   font-size: 30px;
   margin-top: 30px;
   color: aliceblue;
   padding-top: 5px;
   padding-bottom: 5px;
   padding-left: 5px;
   padding-right: 5px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}