
#tbl{
   
    border-radius: 20px;
    background-color: black;

}


#tbl tr{
 border: aliceblue;
 background-color: aliceblue;
 color: black;
 border-radius: 50px;
 box-shadow: 5px 15px 20px;
 font-size: 20px;
}
#tbl td{
    border-radius: 50px;
    
}
